# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Django
# =========================
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Python tooling
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets / credentials
# =========================
*.pem
*-credentials.json
gha-creds-*.json
service-account*.json